---
import PageLayout from '@/layouts/PageLayout.astro';

const description = 'Корпоративным клиентам';
const title = 'Корпоративным клиентам - информация для корпоративных клиентов центра Альфа.';
const h1 = 'Корпоративным клиентам - информация для корпоративных клиентов центра Альфа.';

import { PHONE } from '@/const';
import { phoneFormat } from '@/js/utils/numbers.format';

export const breadcrumb = { name: "Корпоративным клиентам - информация для корпоративных клиентов центра Альфа.", href: "/corporate_clients/" };
---

<PageLayout
  h1={h1}
  title={title}
  description={description}
  breadcrumb={[breadcrumb]}
>
<p>
  Коллективавтомобильного центра «Альфа"будет искренне рад увидеть Вас в&nbsp;числе наших Клиентов, и&nbsp;мы&nbsp;надеемся на&nbsp;плодотворное и&nbsp;взаимовыгодное сотрудничество.
</p>
<p>
  Специально для корпоративных Клиентовавтоцентр „Альфа“,официальный дилер GENERAL MOTORS и&nbsp;<nobr>GM-Avtovaz</nobr>, разработалособую программусотрудничества, основанную на&nbsp;опыте работы, максимальном удобстве и&nbsp;взаимной выгоде&nbsp;— программу"Корпоратив. Сотрудничество».
</p>
<h3> Программа"Корпоратив. Сотрудничество"включает в&nbsp;себя:</h3>
<ul>
 <li>Льготные условия приобретения автомобилей Cadillac, Opel и&nbsp;Chevrolet для Вашего автопарка.</li>
 <li>Особые условия приобретения автомобилей для Ваших сотрудников (программа «Корпоратив: Ключевой партнер»).</li>
 <li>Льготные условия по&nbsp;установке дополнительного оборудования и&nbsp;аксессуаров.</li>
 <li><nobr>VIP-программу</nobr> по&nbsp;техническому и&nbsp;гарантийному обслуживанию Вашего автопарка.</li>
 <li>Услугу&nbsp;— «Персональный менеджер».</li>
 <li>Внеочередное обслуживание и&nbsp;срочный ремонт (программа «Зеленый коридор»).</li>
 <li>Льготное обслуживание негарантийных автомобилей (программа «Корпоратив. Правильное обслуживание»).</li>
 <li>Отсрочка платежа технического обслуживания автомобилей.</li>
 <li>Доставка автомобилей в&nbsp;любой регион России.</li>
 <li>Оформление автомобилей в&nbsp;финансовый и&nbsp;оперативный лизинг (по&nbsp;программе «Корпоратив. Партнер»).</li>
</ul>
<h3> Также к&nbsp;Вашим услугам мы&nbsp;предлагаем:</h3>
<ul>
 <li>Широкий выбор автомобилей в&nbsp;различных ценовых сегментах, разнообразие цветовой гаммы и&nbsp;комплектаций.</li>
 <li>Все виды страхования.</li>
 <li><nobr>Trade-in</nobr>&nbsp;— услуга по&nbsp;обмену старого автомобиля на&nbsp;новый.</li>
 <li>Круглосуточную службу эвакуации.</li>
 <li>Круглосуточную мойку</li>
 <li>Заказ запчастей и&nbsp;оригинальных аксессуаров.</li>
</ul>
<p>
  Обращаем Ваше внимание на&nbsp;то, что мыучитываем все индивидуальные особенности наших Клиентов, располагая для этого всеми материальными, техническими и&nbsp;кадровыми ресурсами.
</p>
<p>
  Мы&nbsp;ждем Вас в&nbsp;нашем центре!
</p>
<p>
  Корпоративный отдел:&nbsp;<a href={`tel:${phoneFormat(PHONE)}`}>{PHONE}</a>
</p>
</PageLayout>