---
import PageLayout from '@/layouts/PageLayout.astro';

const description = 'Корпоративным клиентам';
const title = 'Корпоративным клиентам - информация для корпоративных клиентов центра Альфа.';
const h1 = 'Корпоративным клиентам - информация для корпоративных клиентов центра Альфа.';

import { PHONE } from '@/const';
import { phoneFormat } from '@/js/utils/numbers.format';
import RemontModels from '@/components/RemontModels/RemontModels.astro';

export const breadcrumb = { name: "Корпоративным клиентам", href: "/corporate_clients/" };
---

<PageLayout
  h1={h1}
  title={title}
  description={description}
  breadcrumb={[breadcrumb]}
>
<p>
  Коллективавтомобильного центра «Альфа"будет искренне рад увидеть Вас в числе наших Клиентов, и мы надеемся на плодотворное и взаимовыгодное сотрудничество.
</p>
<p>
  Специально для корпоративных Клиентовавтоцентр „Альфа“,официальный дилер GENERAL MOTORS и <nobr>GM-Avtovaz</nobr>, разработалособую программусотрудничества, основанную на опыте работы, максимальном удобстве и взаимной выгоде — программу"Корпоратив. Сотрудничество».
</p>
<h3> Программа"Корпоратив. Сотрудничество"включает в себя:</h3>
<ul>
 <li>Льготные условия приобретения автомобилей <RemontModels /> для Вашего автопарка.</li>
 <li>Особые условия приобретения автомобилей для Ваших сотрудников (программа «Корпоратив: Ключевой партнер»).</li>
 <li>Льготные условия по установке дополнительного оборудования и аксессуаров.</li>
 <li><nobr>VIP-программу</nobr> по техническому и гарантийному обслуживанию Вашего автопарка.</li>
 <li>Услугу — «Персональный менеджер».</li>
 <li>Внеочередное обслуживание и срочный ремонт (программа «Зеленый коридор»).</li>
 <li>Льготное обслуживание негарантийных автомобилей (программа «Корпоратив. Правильное обслуживание»).</li>
 <li>Отсрочка платежа технического обслуживания автомобилей.</li>
 <li>Доставка автомобилей в любой регион России.</li>
 <li>Оформление автомобилей в финансовый и оперативный лизинг (по программе «Корпоратив. Партнер»).</li>
</ul>
<h3> Также к Вашим услугам мы предлагаем:</h3>
<ul>
 <li>Широкий выбор автомобилей в различных ценовых сегментах, разнообразие цветовой гаммы и комплектаций.</li>
 <li>Все виды страхования.</li>
 <li><nobr>Trade-in</nobr> — услуга по обмену старого автомобиля на новый.</li>
 <li>Круглосуточную службу эвакуации.</li>
 <li>Круглосуточную мойку</li>
 <li>Заказ запчастей и оригинальных аксессуаров.</li>
</ul>
<p>
  Обращаем Ваше внимание на то, что мыучитываем все индивидуальные особенности наших Клиентов, располагая для этого всеми материальными, техническими и кадровыми ресурсами.
</p>
<p>
  Мы ждем Вас в нашем центре!
</p>
<p>
  Корпоративный отдел: <a href={`tel:${phoneFormat(PHONE)}`}>{PHONE}</a>
</p>
</PageLayout>